* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    align-content: center;
    flex-direction: row;
    padding: 50px;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ff5733;
    border-radius: 50%;
    animation: bounce 1s infinite;
}
.blue{
    background-color: #df10ff;
}
.green{
    background-color: #31ff46;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-150px);
    }
    60% {
        transform: translateY(-75px);
    }
}
